.wrapper {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;

    .checkbox {
        width: 14px;
        height: 14px;
        border: 1px solid #cdcdcd;
        padding: 2px;

        &__circle {
            border-radius: 50%;

            .background {
                border-radius: 50%;
            }
        }

        .background {
            height: 100%;

            &__checked {
                background-color: #122947;
            }
        }
    }

    span {
        font-size: 16px;
        font-family: 'Mplus 1p-maroon', sans-serif;
    }
}
