.counter {
    display: flex;
    align-items: center;
    gap: 7px;

    .input {
        border-radius: 6px;
        border: 2px solid #dbdce0;
        padding: 5px 10px;
        font-size: 14px;
        text-align: center;
        transition: all 0.3s;

        &::-webkit-inner-spin-button {
            appearance: none;
            margin: 0;
        }

        &:focus {
            border: 2px solid rgb(0 149 255 / 40%);
        }
    }

    .button {
        padding: 5px;
        background-color: rgb(0 150 255 / 8%);
        border-radius: 6px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.3s;

        &:disabled {
            background-color: rgb(0 48 120 / 4%);
        }
    }
}
