{
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./src"],
        "alias": {
          "api": "/api",
          "assets": "/assets",
          "components": "/components",
          "configs": "/configs",
          "contexts": "/contexts",
          "hooks": "/hooks",
          "providers": "/providers",
          "router": "/router",
          "services": "/services",
          "shared": "/shared",
          "utils": "/utils",
          "store": "/store"
        }
      }
    ]
  ]
}
