.wrapper {
    position: relative;
    padding: 40px 100px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    box-shadow: 0 4px 30px 0 rgb(214 214 214 / 19%);

    @media (width <= 768px) {
        padding: 40px 45px;
    }

    @media (width <= 425px) {
        padding: 40px 15px;
        gap: 40px;
    }

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 40px;

        .title {
            font-size: 36px;
            font-weight: 500;

            @media (width <= 425px) {
                font-size: 28px;
            }
        }

        .cancel {
            display: flex;
            align-items: center;

            @media (width <= 425px) {
                width: 14px;
                height: 14px;
            }
        }

        .filter {
            @media (width <= 425px) {
                font-size: 14px;
            }
        }
    }
}
