.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 100px 15px 0;

    @media (width <= 768px) {
        padding: 50px 15px 0;
    }

    @media (width <= 420px) {
        padding: 20px 15px 0;
    }

    .title {
        font-size: 32px;
        font-weight: 500;
    }

    .recommendation {
        .link {
            color: #000;
        }
    }
}
