.header {
    position: relative;
    padding: 40px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;

    @media (width <= 768px) {
        padding: 40px 45px;
        border-bottom: 1px solid #dbdce0;
    }

    @media (width <= 375px) {
        padding: 40px 15px;
        border-bottom: none;
    }
}
