.wrapper {
    position: relative;
    display: none;

    @media (width <= 660px) {
        display: block;
        width: 100%;
    }

    .accordion {
        width: 100%;

        .categories {
            display: flex;
            flex-direction: column;
            gap: 20px;
        }
    }
}
