.wrapper {
    display: flex;
    gap: 80px;
    padding-left: 100px;
    align-items: center;

    @media (max-width: 768px) {
        padding-left: 45px;
        gap: 50px;
    }

    @media (max-width: 570px) {
        flex-direction: column;
        padding: 0px 35px;
    }

    .link {
        display: none;

        @media (max-width: 570px) {
            display: block;
        }
    }
}
