.wrapper {
    display: flex;
    flex-direction: column;
    gap: 70px;
    align-items: center;
    padding: 0 100px;

    @media (width <= 768px) {
        padding: 0 45px;
        gap: 60px;
    }

    @media (width <= 425px) {
        padding: 0 15px;
        gap: 40px;
    }

    .title {
        font-size: 32px;
        font-weight: 500;
        text-align: center;

        @media (width <= 425px) {
            font-size: 28px;
            line-height: 35px;
        }
    }

    .slider {
        width: 100%;

        .pagination {
            @media (width <= 425px) {
                justify-content: left;
                grid-column: 1/3;
            }
        }

        .slide {
            min-width: 270px;

            @media (width <= 768px) {
                min-width: calc(50vw - 60px);
            }

            @media (width <= 425px) {
                min-width: calc(100vw - 30px);
            }
        }
    }
}
