.form {
    max-width: 500px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    border: 1px solid #dbdce0;
    border-radius: 10px;
    padding: 10px;

    .image {
        border-radius: 10px;
        object-fit: cover;
    }

    .container {
        display: flex;
        justify-content: space-between;
        gap: 20px;
        align-items: center;
    }
}
