.wrapper {
    background-color: #f4f1ed;
    max-width: 370px;
    width: 100%;

    @media (width <= 1000px) {
        max-width: 500px;
    }

    @media (width <= 425px) {
        border-radius: 13px;
    }

    .buy {
        display: flex;
        flex-direction: column;
        gap: 13px;
        padding: 24px;
        border-bottom: 1px solid #dbdce0;

        &__border {
            border-bottom: none;
        }

        .button {
            padding: 15px 50px;
            width: 100%;
            border-radius: 12px;

            @media (width <= 425px) {
                padding: 15px 10px;
            }
        }

        .info {
            color: #707f8d;
            font-size: 14px;
            line-height: 18px;
            display: flex;
            align-items: flex-start;
            gap: 5px;
        }
    }

    .container {
        display: flex;
        flex-direction: column;
        gap: 13px;
        padding: 24px;
        border-bottom: 1px solid #dbdce0;

        &:last-of-type {
            border-bottom: none;
        }

        .products {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 10px;
        }
    }
}
