.wrapper {
    display: flex;
    flex-direction: column;
    gap: 40px;
    text-align: flex-start;
    max-width: 380px;

    @media (width <= 570px) {
        text-align: center;
    }

    .container {
        display: flex;
        flex-direction: column;
        gap: 30px;

        .title {
            font-size: 32px;
            font-weight: 500;
        }

        .description {
            font-size: 18px;
            line-height: 26.1px;
        }
    }
}
