.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 388px;

    .texts {
        display: flex;
        justify-content: space-between;
        width: 255px;

        .text {
            font-size: 16px;
            font-weight: 400;
        }

        .link {
            color: #122947
        }
    }

    .icons {
        display: flex;
        width: 64px;
        align-items: center;
        justify-content: space-between;
    }

}