.wrapper {
    position: relative;
    padding: 40px 100px 0;
    display: flex;
    flex-direction: column;
    gap: 30px;

    @media (width <= 1110px) {
        padding: 40px 45px 0;
    }

    @media (width <= 425px) {
        padding: 40px 15px 0;
    }

    .title {
        font-size: 36px;
        font-weight: 500;

        @media (width <= 425px) {
            font-size: 28px;
        }

        span {
            font-size: 17px;
            vertical-align: top;
        }
    }

    .container {
        display: flex;
        justify-content: center;
        gap: 30px;

        @media (width <= 1000px) {
            flex-direction: column;
            align-items: center;
        }
    }
}

.empty {
    font-size: 40px;
    font-weight: 500;
    margin-top: 100px;
    text-align: center;
}
