.navigation {
    margin-right: 45px;

    @media (width <= 570px) {
        margin-right: 0;
    }

    @media (width <= 375px) {
        display: none;
    }
}

.pagination {
    display: none;
}

.slide {
    min-width: 270px;

    @media (width <= 425px) {
        min-width: calc(100vw - 30px);
    }
}
