.wrapper {
    padding: 40px 100px 0;
    display: flex;
    gap: 70px;
    align-items: flex-start;
    justify-content: center;

    @media (width <= 768px) {
        padding: 40px 45px 0;
        flex-direction: column;
        align-items: flex-start;
        gap: 60px;
    }

    @media (width <= 425px) {
        padding: 40px 15px 0;
        gap: 50px;
    }

    .container {
        flex: 1;
        width: 100%;
        max-width: 700px;

        .image {
            width: 100%;
            max-height: 640px;
            object-fit: cover;

            @media (width <= 768px) {
                max-height: auto;
            }
        }
    }
}
