.pagination {
    grid-column: 2 / 3;
    display: flex;
    align-items: center;
    gap: 8px;
    user-select: none;

    .page {
        font-size: 18px;
        font-weight: 500;
        color: #9a9da0;
        transition: 0.3s;
        width: 30px;

        &:hover {
            color: #122947;
        }
    }
}
