
.footer_wrapper{
display: flex;
flex-direction: column;

width: 1366px;
background-color: #F4F1ED; 
}


.footer_top{
padding: 60px 0 60px 100px;
display: flex;
flex-direction: row;
justify-content: space-between;

}

.footer_top_left{
display: flex;
align-items: center;
}

.footer_logo{
margin-right: 70px;
}

.footer_links{
display: flex;
column-gap: 40px;
}

.footer_link{
color: #122947;
font-family: Mplus 1p, sans-serif;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.footer_top_right{
display: flex;
column-gap: 30px;
padding-right: 98px;
}

.footer_top_right img{
 width: 20px;
height: 20px;
}

.footer_bottom_border{
border-top: 1px solid #D1D1D1 ;
}

.footer_bottom{
display: flex;    
justify-content: space-between;
padding: 22px 98px 22px 100px;
}

.left_text{
color: #959595;
font-family: Mplus 1p, sans-serif;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.left_text img{
width: 14px;
height: 14px;
margin: 0 5px;
}

.right_text{
color: #959595;
font-family: Mplus 1p,  sans-serif;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: normal;
}