.wrapper {
    position: relative;
    padding: 120px 15px;

    @media (width <= 768px) {
        padding: 100px 30px;
    }

    @media (width <= 425px) {
        padding: 60px 30px;
    }

    .background {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-image: url('../../../../assets/images/care.avif');
        background-repeat: no-repeat;
        background-size: cover;
        z-index: -1;
    }
}
