* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

body {
    height: 100%;
    width: 100%;
    line-height: 1;
    font-size: 15px;
    color: #122947;
    background-color: #f8f8f6;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
    font-size: 15px;
    background-color: transparent;
}

input,
textarea,
span {
    font-family: inherit;
}

textarea {
    resize: none;
}

input::-ms-clear {
    display: none;
}

input::placeholder,
textarea::placeholder {
    font-size: 15px;
}

button {
    font-family: 'Mplus 1p-maroon', sans-serif;
    cursor: pointer;
    background-color: transparent;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
    color: #122947;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

img,
video {
    max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: inherit;
    font-family: 'Raleway-maroon', sans-serif;
}

body,
html {
    font-family: 'Mplus 1p-maroon', sans-serif;
}
